import { SlushyContext, SlushyRouter } from '@slushy/server'
import { {{#importedTypes}}{{.}},{{/importedTypes}} } from '../types'

{{#paths}}
export {{{parameter.definition}}}

export {{{response.definition}}}

{{/paths}}

export interface {{resourceName}}Resource<TContext = {}> {
    {{#paths}}

    {{operationId}}(
        params: {{parameter.name}},
        context: SlushyContext<TContext>,
    ): Promise<{{response.name}}>
    {{/paths}}

}

export class {{resourceName}}ResourceDefinition {
    public async bindRoutes(router: SlushyRouter, resource: {{resourceName}}Resource) {
        {{#paths}}
        router.{{method}}<{{parameter.name}}, {{response.name}}>('{{{path}}}', resource.{{operationId}}.bind(resource))
        {{/paths}}

        return this
    }
}

