
import * as path from 'path'
import { SlushyRouter, SlushyResourceConfiguration } from '../../../server'
{{#resources}}
import { {{resource}}Resource, {{resource}}ResourceDefinition } from './{{resource}}Resource'
{{/resources}}

interface Config {
{{#resources}}
    {{resource}}Resource: {{resource}}Resource
{{/resources}}
}

/**
 * Responsible for setting up all required resources and binding them to their implementations.
 */
export class ResourceConfig implements SlushyResourceConfiguration {
    public constructor(private readonly config: Config) {}

    public async configure(router: SlushyRouter) {
    {{#resources}}
        await Promise.all([
            new {{resource}}ResourceDefinition().bindRoutes(router, this.config.{{resource}}Resource)
        ])
    {{/resources}}
    }

    public getOpenApiPath() {
        return path.join(__dirname, '../openapi.json')
    }
}